PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/stock-trackr
JWT_SECRET=stock-trackr-super-secret
JWT_EXPIRES_IN=7d
ADMIN_SEEDING_ACCOUNT_NAME=your-seeding-admin-name
ADMIN_SEEDING_ACCOUNT_EMAIL=your-seeding-admin-email
ADMIN_SEEDING_ACCOUNT_PASSWORD=your-seeding-password
